<form class="dropdown" name="project" method="get" action="/">
    <p>Huidig project: <%= currentProject %></p>
    <label for="color">Selecteer een ander project</label>
    <select name="project">
        <option selected disabled>Selecteer je project</option>
        <option name="wafs" value="web-app-from-scratch-2122">Web apps from scratch</option>
        <option name="css" value="css-to-the-rescue-2122">CSS to the rescue</option>
        <option name="project1" value="project-1-2122">Project OBA</option>
        <option name="pwa" value="progressive-web-apps-2122">Progressive web apps</option>
        <option name="browsertech" value="browser-technologies-2122">Browser technologies</option>
        <option name="project2" value="project-2-2122">Project GitHub</option>
    </select>
    <button>Doorgaan</button>
</form>