<%- include('./components/head.ejs') -%>
<div class="world">
    <%- include('./components/billboards.ejs') -%>
    <%- include('./components/avatar.ejs') -%>

</div>
<%- include('./components/footer.ejs') -%>
