.crown {
    width: 70px;
    position: fixed;
}

.avatar {
    position: fixed;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7em;
    cursor: grab;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    --ballIndex: 20;
    --topBallPos: 1;
    --leftBallPos: 1;
    --scaleList: 1;
    --avatarScale: calc(var(--topBallPos) / 70);
    --falltimer: 4;
    --Alienturner: 360;
  
    top: calc(var(--topBallPos) * 1vh);
    left: var(--leftBallPos);
    z-index: var(--topBallPos);
    transform: scale(var(--avatarScale));
    animation: fallingSpawn var(--falltimer) ease-in;
}

.avatarLopen {
    left: 110vw;
    transition: 30s;
}

.avatar:active {
    cursor: grabbing;
}

@keyframes fallingSpawn {
    0% {
        transform: translateY(-100vh) scale(var(--avatarScale));
        pointer-events: none;
    }

    100%{
        transform: scale(var(--avatarScale));
        pointer-events: none;
    }

}

.avatar a {
    color: black;
    margin-top: 5px;
    text-decoration: none;
    font-size: 0.8em;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.avatarImg {
    width: 40px;
    border-radius: 50%;
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    transform-origin: center 60px;
}

.crown {
    width: 40px;
    margin-top: -30px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.poppetje {
    height: 50px;
    margin-top: 2.5em;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    transition: 3s;
    transform-origin: center;
}

.falling {
    animation: falling 7s forwards;
}

.falling > img {
    animation: turning 5s infinite linear;
}

.falling::before {
    content: '';
    position: absolute;
    width: 170%;
    height: 97vh;
    opacity: 1;
    z-index: -1;
    filter: blur(20px);
    top: -80vh;
    background-color: lime;
    animation: none;
}

.falling:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 8vh;
    opacity: 1;
    z-index: -1;
    filter: blur(20px);
    bottom: -7vh;
    background-color: limegreen;
    animation: none;
}

@keyframes falling {
    100%{
        top: -30vh;
    }
}

@keyframes turning {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(var(--Alienturner));
    }
}