html {
    cursor: url("../images/noGRAB.png") 30 30, grab;
}

html:active {
    cursor: url("../images/GRAB.png") 30 30, grabbing;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

body:active {
    cursor: url("../images/GRAB.png") 30 30, grabbing;
}

#field {
    width: 100vw;
    height: 100vh;
}