* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

#field {
    display: flex;
    margin: 0 auto;
    width: 95%;
    flex-wrap: wrap;
}