.world {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/skyline.png);
    background-color: #2a2a72;
    background: linear-gradient( 0deg, rgba(138, 225, 255, 1) 40%, rgba(24, 129, 255, 1) 60%, rgba(0, 11, 47, 1) 96% );
    background-position: 50% 0vh;
    background-size: 117%;
    background-repeat: no-repeat;
}

.world::after {
    content: '';
    background-image: url(../images/skyline.png);
    background-repeat: round;
    width: 100vw;
    height: 60vh;
    position: fixed;
    z-index: 1;
    top: 0;
    top: 0;
}

.world::before {
    content: '';
    background-color: #63d471;
    background-image: linear-gradient(183deg, #63d471 5%, #233329 130%);
    width: 100vw;
    height: 40vh;
    position: fixed;
    bottom: 0;
    top: auto;
}

.billboard {
    z-index: 2;
    background: crimson;
    position: absolute;
    bottom: 44vh;
    left: 10vw;
    font-size: .8em;
    transform: rotate(-2deg);
    padding: 10px 20px;
    border: 5px inset black;
}

.billboard:before {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background-color: #000;
    bottom: -50px;
    left: -5px;
}

.billboard:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background-color: #000;
    bottom: -50px;
    right: -5px;
}

.languages {
    bottom: 44vh;
    right: 10vw;
    left: auto;
    background-color: cornflowerblue;
    transform: rotate(2deg);
}

.leaderboard li {
    list-style-type: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 1em;
    background: white;
    border-radius: 5px;
    border: 2px solid;
}

.dropdown p {
    margin-bottom: 20px;
}

.dropdown label {
    font-size: 18px;
}

.dropdown select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.dropdown button {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
