.world {
    position: relative;
    width: 100%;
    height: 100%;
}

.world::after {
    content: '';
    background-color: #2a2a72;
    background: linear-gradient(
      0deg,
      rgba(138, 225, 255, 1) 0%,
      rgba(24, 129, 255, 1) 31%,
      rgba(0, 11, 47, 1) 96%
    );
    width: 100vw;
    height: 58vh;
    position: absolute;
    top: 0;
    bottom: auto;
    background-position: 50% 0px;
    background-size: 117%;
}

.world::before {
    content: '';
    background-color: #63d471;
    background-image: linear-gradient(183deg, #63d471 5%, #233329 130%);
    width: 100vw;
    height: 42vh;
    position: fixed;
    bottom: 0;
    top: auto;
}

.billboard {
    width: 11vw;
    height: 6.5vw;
    z-index: 1;
    background: crimson;
    position: absolute;
    top: 25vw;
    left: 10vw;
    transform: rotate(-2deg);
    padding: 10px 20px;
    border: 5px inset black;
}

.billboard:before {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background-color: #000;
    bottom: -50px;
    left: -5px;
}

.billboard:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background-color: #000;
    bottom: -50px;
    right: -5px;
}

.leaderboard li {
    list-style-type: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown p {
    margin-bottom: 20px;
}

.dropdown label {
    font-size: 18px;
}

.dropdown select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.dropdown button {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
